<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardust Website</title>
    <link rel="stylesheet" href="about1.css">
</head>
<body>
    <!-- Header with Location Input -->
    <header class="header">
        <img src="/static/logo.png" alt="Stardust Logo" class="logo">
    </header>

    <div class="content-box">
        <h2><u><b>StarDust: Your Window to the Universe</b></u></h2>
        <p>
            At StarDust, we're passionate about connecting you with the wonders of the cosmos. Whether you're a seasoned stargazer or just starting, our mission is to guide you to the perfect spots to observe the night sky.
        </p>
        <p>
            <b>What We Offer:</b>
        </p>
        <ul>
            <li>Comprehensive locations of stargazing spots</li>
            <li>Light and air pollution maps and forecasts</li>
            <li>Celestial event calendars</li>
            <li>Equipment recommendations</li>
            <li>Articles on space exploration</li>
        </ul>
        <p>
            Our dedicated team of astronomers, developers, and outdoor enthusiasts work tirelessly to provide you with accurate, up-to-date information on the best stargazing locations in your area and around the world. Join us as we rediscover the night sky, one star at a time.
        </p>
    </div>

    <script src="2ndpage.js"></script>
</body>
</html>
