<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardust Website</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <!-- First Slide -->
    <section class="slide slide1">
        <header class="header">
            <img src="/static/logo.png" alt="Stardust Logo" class="logo">
            <a href="about1.html" class="about-button">About Us</a>
        </header>
        
    </section>

    <!-- Second Slide -->
    <section class="slide slide2">
        <h1 class="title">YOUR WINDOW TO THE UNIVERSE</h1>
        <div class="cards">
            <div class="card">
                <img src="/static/images (2).jpg" alt="Nightsky">
                <h2>NIGHTSKY</h2>
                <button onclick="window.location.href='https://science.nasa.gov/skywatching/night-sky-network/articles/'">FIND OUT MORE</button>
            </div>
            <div class="card">
                <img src="/static/download (1).jpg" alt="Astronomy">
                <h2>ASTRONOMY</h2>
                <button onclick="window.location.href='https://www.sciencenews.org/topic/astronomy'">FIND OUT MORE</button>
            </div>
            <div class="card">
                <img src="/static/download (2).jpg" alt="Discovery">
                <h2>DISCOVERY</h2>
                <button onclick="window.location.href='https://www.discovery.com/space/all-space-articles'">FIND OUT MORE</button>
            </div>
            
        </div>
    </section>

    <section class="footer">
        <div class="end-button">
            <button onclick="window.location.href='location.html';">STARGAZING LOCATIONS NEAR YOU !</button>
        </div>
    </section>



    <script src="script.js"></script>
</body>
</html>
